.Dots{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0px;
    img{
        width: 100%;
    }
}