.Title{
    width: 100%;
    text-align: center;
    font-size: 84px;
    font-family: "PPneunMed";
    letter-spacing: 1px;
    @media(max-width: 800px){
        font-size: 62px;
    }
    @media(max-width: 500px){
        font-size: 42px;
    }
}