.ArrowDown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border: 2px solid #464D62;
    border-radius: 50px;
    animation: pulse 5s infinite ease-in-out, glow 5s infinite ease-in-out;
    img{
        width: 14px;
        height: 14px;
        animation: pulse 5s infinite ease-in-out;
    }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px rgba(100,150,255,0.0);
  }
  50% {
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0px rgba(100,150,255,0.0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}