.Lines {
  width: 100vw;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pointer-events: none;

  &_line {
    width: 100%;
    height: 2px;
    background-color: #9b9b9b;
    transition: transform 0.1s linear;
  }
}
