@font-face{
    font-family: "PPneunBold";
    src: url('/fonts/ppneuemontreal-bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PPneunBook";
    src: url('/fonts/ppneuemontreal-book.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PPneunMed";
    src: url('/fonts/ppneuemontreal-medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PPneunThin";
    src: url('/fonts/ppneuemontreal-thin.woff');
    font-weight: normal;
    font-style: normal;
}